.fl1{font-size:1em;display:block;color:rgb(66, 82, 97);}
.fl2{font-size:0.8em;display:block;color:rgb(145, 169, 187);}
.rec{text-align:center;border-left:1px solid rgb(182, 184, 153);border-radius:10px;padding:15px;}
.f{padding:40px 15px;border-top:1px solid #888;}
.ll{display:block;text-decoration:none;color:slategray}